<header>
  <mat-toolbar color="primary">
    <p>Repair Service UI</p>
    <button *ngIf="isUserLoggedIn()" mat-raised-button color="warn" (click)="logout()">Log out</button>
  </mat-toolbar>
</header>
<router-outlet></router-outlet>
