<mat-card class="mat-elevation-z8">
  <button mat-raised-button color="primary" routerLink="/repair-service">Return</button>
</mat-card>

<mat-card class="mat-elevation-z8">
  <button mat-raised-button color="primary" (click)="otworzFormularzDodawaniaKierunku()">Add device</button>
</mat-card>


<div class="flex-wrapper">
  <table mat-table [dataSource]="devices" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let device"> {{device.id}} </td>
    </ng-container>

    <ng-container matColumnDef="deviceCategoryId">
      <th mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let device"> {{device.deviceCategoryId}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let device"> {{device.name}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let device"> {{device.status}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
