:host {
  width: 100%;
  display: flex;
  flex-direction: column;
}

mat-accordion {
  margin: 0.5em;
}

mat-divider {
  margin: 1em 0;
}

.info-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  * {
    margin: 0.25em;
  }

  p {
    font-size: 1.1em;
  }
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  table {
    width: 100%;
  }

  .mat-column-akcje.ng-star-inserted>button.mat-raised-button {
    margin-right: 0.5em;
  }

  button.add {
    margin-top: 1.5em;
  }
}

mat-card {
  display: flex;
  margin: 0.5em;
  justify-content: center;
}
