<h1 mat-dialog-title>
  <ng-template [ngIf]="edycja" [ngIfElse]="newDeviceCategory">
    Edit device category
  </ng-template>
  <ng-template #newDeviceCategory>
    Add device category
  </ng-template>
</h1>
<div mat-dialog-content>
  <form #form="ngForm" (ngSubmit)="submitFrom(form.value)">
    <mat-form-field>
      <input matInput [(ngModel)]="deviceCategory.name" placeholder="Name" class="form-control" name="name"
        #name="ngModel" required />
    </mat-form-field>
    <div *ngIf="name.invalid && (name.dirty || name.touched)" class=" alert-danger">
      <p *ngIf="name.errors.required">
        The device category name is necessary
      </p>
    </div>
    <div class="button-wrapper">
      <button mat-raised-button color="warn" (click)="closeForm()">Cancel</button>
      <button id="submit" type="submit" [disabled]="form.invalid || !form.dirty" mat-raised-button
        [color]="'primary'">Submit</button>
    </div>
  </form>
</div>
