form {
  width: 30%;
  min-width: 30em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;

  mat-card-content {
    display: flex;
    flex-direction: column;
  }

  .message {
    margin: 1em;
    padding: 1em;
    background-color: #d36f6f;
    font-weight: 700;
    color: #ffffff;
  }
}
