<form #loginForm="ngForm" (ngSubmit)="handleLogin()">
  <mat-card class="mat-elevation-z8">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input matInput type="text" id="inputLogin" name="inputLogin" placeholder="Username" [(ngModel)]="user.username"
          autofocus required>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" id="passwordLogin" name="inputLogin" placeholder="Password"
          [(ngModel)]="user.password" required>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]='!loginForm.form.valid'>Log in</button>

      <div *ngIf="invalidLogin">
        <mat-card class="message mat-elevation-z8">
          <mat-card-content>
            <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
            <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
</form>
