<mat-card class="mat-elevation-z8">
  <button mat-raised-button color="primary" routerLink="/repair-service/device-category">Manage device
    categories</button>
  <button mat-raised-button color="primary" routerLink="/repair-service/device">Manage devices</button>
</mat-card>
