<mat-card class="mat-elevation-z8">
  <button mat-raised-button color="primary" routerLink="/repair-service">Return</button>
</mat-card>

<mat-card class="mat-elevation-z8">
  <button mat-raised-button color="primary" (click)="openAddDeviceCategoryModal(deviceCategoriesTable)">Add device
    category</button>
</mat-card>


<div class="flex-wrapper">
  <table #deviceCategoriesTable mat-table [dataSource]="deviceCategories" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let deviceCategory"> {{deviceCategory.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let deviceCategory"> {{deviceCategory.name}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let deviceCategory">
        <button mat-raised-button color="warn"
          (click)="deleteDeviceCategory(deviceCategoriesTable, deviceCategory.id, deviceCategory)">Delete</button>
        <button mat-raised-button color="primary"
          (click)="openEditDeviceCategoryModal(deviceCategoriesTable, deviceCategory.id, deviceCategory)">Edit</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
